services:
  # The Vector Database (Works on Mac/Windows/Linux)
  db_vector:
    image: pgvector/pgvector:pg16
    container_name: ambience_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: team20_password
      POSTGRES_DB: ambience_knowledge
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - ambience_net

networks:
  ambience_net:
    driver: bridge